services:
  api:
    build: .
    container_name: fastapi_app
    depends_on:
      - postgres
      - redis
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    restart: unless-stopped

  postgres:
    image: postgres:18
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${db_user}
      POSTGRES_PASSWORD: ${db_pass}
      POSTGRES_DB: ${db_name}
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    restart: unless-stopped

  redis:
    image: redis:8
    container_name: redis_cache
    command: >
      redis-server
      --requirepass ${redis_pass}
      --port ${redis_port}
    environment:
      REDIS_PASSWORD: ${redis_pass}
    ports:
      - "6379:6379"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]

volumes:
  postgres_data:
