.login-form
{
    width: 23rem;
}

.login-header
{
    letter-spacing: 1px;
    text-align: center;
}

.login-form button
{
    width: 100%;
}

.error-color
{
    color: rgb(222, 97, 97);
    text-align: center;
}